// =================== Navbar ======================= //

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 93px;
}

.window_number {
  font-size: 32px;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user_name {
  font-size: 20px;
}

.user_photo {
  border-radius: 50%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 93px;
  border: 1px solid #3993c3;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 90px;
  align-items: center;
  gap: 65px;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_link_item {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.5px;
  font-size: 20px;
  transition: 0.2s;
  border: none;
  color: inherit;
  padding: 10px;
}

.nav_link_item:focus,
.nav_link_item:hover {
  color: #3993c3;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.timeBreak {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 55px;
}

.switch {
  cursor: pointer;
}

.chat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatSVG {
  width: 25px;
  height: 25px;
}

.nav_link_item > img {
  transition: 0.2s;
}

.nav_link_item:hover > img,
.nav_link_item:focus > img {
  filter: invert(66%) sepia(23%) saturate(5582%) hue-rotate(172deg)
    brightness(84%) contrast(78%);
}

.header__nav__start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

// ================ dropdown menu OPEN | CLOSE styles =================== //

.drop_menu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  width: max-content;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 2000;
  margin-top: 30px;
}

.drop__catalog {
  padding: 4px;
}

.drop__catalog__item {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 0 16px;
  min-height: 44px;
  border-radius: 4px;
  cursor: pointer;
}
.drop__catalog__item:hover {
  color: #ffffff;
  background: rgba(57, 147, 195, 1);
}

.logout:hover {
  background-color: rgba(231, 81, 81, 0.82);
}
