.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 685px;
  width: 100%;
  text-align: center;
}

.modal p {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modalSpan {
  font-size: 24px;
  font-weight: 600;
  color: rgba(231, 81, 81, 0.82);
}

.cancelBTN {
  width: 100%;
  max-width: 240px;
  height: 50px;
  border: 1px solid rgba(57, 147, 195, 1);
  color: rgba(57, 147, 195, 1);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
  background: #fff;
}

.cancelBTN:hover {
  background-color: rgba(57, 147, 195, 0.123);
}

.deleteBTN {
  width: 100%;
  max-width: 240px;
  height: 50px;
  border: 1px solid rgba(231, 81, 81, 0.82);
  color: rgba(231, 81, 81, 0.82);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
  background: #fff;
}

.deleteBTN:hover {
  background-color: rgba(231, 81, 81, 0.121);
}
